/*General*/
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

/*Utils-img*/
.size-md {
    max-width: 300px;
}

.size-sm {
    max-width: 200px;
}

.size-xs {
    max-width: 150px;
}



/*HEADER*/
.header-top {
    background-color: black;
    height: 40px;
}

#logo {
    width: 100px;
}

.chevron-down-solid {
    width: 10px;
}

.chevron-down-solid:hover {
    content: url(img/chevron-down-solid-hover.svg);
}

.search-img {
    width: 28px;
}

.search-img:hover {
    scale: 1.2;
}

/*Buttons*/
.login-btn {
    background-color: #363636;
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: 600;
}

.download-button {
    background-color: #CD3D0F;
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: 600;
}

.ps-now-btn {
    background-color: white;
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: 600;
}

.ps-plus-btn {
    background-color: rgba(255, 255, 255, 0.589);
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: 600;
}

/*Jumbotron*/
.jumbotron-header {
    background-image: url('img/jumbo-bg.png');
}

.jumbotron {

    background-repeat: no-repeat;
    position: relative;
    height: 700px;
    background-position: center;
    background-size: cover;
}

.jumbo-box {
    position: absolute;
    bottom: 0;
}


.jumbotron-main {
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
}

/*PlayStation Plus*/

.ps-plus {
    background-color: #BEBCBB;
}

/*PlayStation Now*/

.ps-now {
    background-color: #161C3A;
}

/*Footer*/

footer {
    background-color: #00439C;
}

#logo-footer {
    width: 100px;
}

#info {
    text-decoration: underline;
}