/*General*/
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*Utils*/


/*HEADER*/
.header-top {
    background-color: black;
    height: 40px;
}

#logo {
    width: 100px;
}

.chevron-down-solid {
    width: 10px;
}

.chevron-down-solid:hover {
    content: url(img/chevron-down-solid-hover.svg);
}

.search-img {
    width: 28px;
}

.search-img:hover {
    scale: 1.2;
}

/*Buttons*/
.login-btn {
    color: white;
    background-color: #363636;
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: 600;
}

.download-button {
    background-color: #CD3D0F;
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: 600;
}

/*Jumbotron*/
.jumbotron-header {
    background-image: url('img/jumbo-bg.png');
}

.jumbotron {

    background-repeat: no-repeat;
    position: relative;
    height: 700px;
    background-position: center;
    background-size: cover;
}

.jumbo-box {
    position: absolute;
    bottom: 0;
}


.jumbotron-main {
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
}


/*Main*/